#outputPanel {
    width: 100%;
    height: 540px;
    margin-bottom: 2px;
    background-color: black;
    padding: 4px;
    overflow: scroll;
    -webkit-user-select: text;
}

#outputPanel pre {
    width: 775px;
    word-wrap: break-word;
    color: white;
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
    font-size: 14px;
    line-height: 1.2;
    margin: 0;
}

.inputPanel {
    width: 100%;
    height: 35px;
    padding: 0px;
}

.inputPanel #query {
    height: 28px;
    width: 100%;
    font-size: 18px;
    background-color: black;
    color: white;
    border: 0;
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}
