html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

#outputPanel {
    -webkit-user-select: text;
    width: 100%;
    height: calc(100% - 35px);
    overflow-y: auto;
    padding: 2px;
    font-size: 14px;
    color: white;
}

#outputPanel p {
    width: 100%;
    word-wrap: break-word;
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
    line-height: 1.2;
    margin: 0;
    white-space: pre;
}

.inputPanel {
    width: 100%;
    height: 35px;
    position: relative;
    background-color: white;
}

.inputPanel #query {
    font-size: 16px;
    width: 99vw;
    border: 0;
    outline: none;
    margin-left: 5px;
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}

#ca-cert {
    resize: vertical;
}
